{{#if dataEdit}}
    {{{button}}}
{{else}}
    <ul>
        <li>
            <a onclick="ChangeRouter('{{data}}')">Изменить данные</a>
        </li>
        <li>
            <a onclick="ChangeRouter('{{password}}')">Изменить пароль</a>
        </li>
        <li>
            <a onclick="ChangeRouter('{{exit}}')" class="a-redtext">Выйти</a>
        </li>
    </ul>
{{/if}}