<article id="{{id}}" class="chat">
    <section class="section-1">
        <img src="{{img}}" alt="" class="img-interlocutor" />
    </section>
    <section class="section-2">
        <h2 class="name-interlocutor">{{name}}</h2>
        <p class="massage">{{lastMessage}}</p>
    </section>
    <section class="section-3">
        <time class="massage-time">{{time}}</time>
        <div class="massage-counter">{{countNewMessage}}</div>
    </section>
</article>