<div class="input-block">
    <input 
    {{#if id}}id="{{id}}"{{else}}{{/if}}
    class="{{#if class}}input {{class}}{{else}}input{{/if}}" 
    type="{{type}}" 
    placeholder="{{placeholder}} "
    value="{{value}}"
    >
    <label class="placeholder" for={{id}}>{{title}}</label>
    {{#if error}}
        <label class="input-error" for={{id}}>{{error}}</label>
    {{else}}
    {{/if}}
</div>