<div class="input-block">
    {{{input}}}
    <label class="placeholder" for={{id}}>{{title}}</label>
    {{#if error}}
        <label class="input-error" for={{id}}>{{error}}</label>
    {{else}}
    {{/if}}
</div>
