<button 
    {{#if id}}id="{{id}}"{{else}}{{/if}}
    class="{{#if className}}button {{className}}{{else}}button{{/if}}"
    {{#if link}}
    onclick="location.href = '{{link}}'"
    {{else}}
    {{/if}}
>
    {{value}}
</button>