<button 
    {{#if id}}id="{{id}}"{{else}}{{/if}}
    class="{{#if className}}button {{className}}{{else}}button{{/if}}"
    type="{{#if type}}{{type}}{{else}}button{{/if}}"
>
    {{value}}
</button>
