<button 
    {{#if id}}id="{{id}}"{{else}}{{/if}}
    class="{{#if className}}button {{className}}{{else}}button{{/if}}"
    {{#if link}}
    onclick="window.ChangeRouter('{{link}}')"
    {{else}}
    {{/if}}
    type="{{#if type}}{{type}}{{else}}button{{/if}}"
>
    {{value}}
</button>
