<main>
    <section class="chats-list">
        <header>
            <div class="a-wrapper">
                <a onclick="ChangeRouter('{{rout}}')">Профиль
                    <div class="arrow-top"></div>
                    <div class="arrow-bottom"></div>
                </a>
            </div>
            <form class="search">
                <button type="submit">
                    <span class="lupa"></span>
                </button>
                <input type="text" placeholder="Поиск" />
            </form>
        </header>
        <section class="wrapper-chats">
            {{{chatList}}}
        </section>
    </section>
    {{#if name}}
        <section class="message-list">
            <header>
                <img
                    src="{{img}}"
                    alt="Изображение Вашего собеседника {{name}}"
                    class="img-interlocutor"
                />
                <h2 class="name-interlocutor">{{name}}</h2>
                <a href="" class="option">
                    <div class="point"></div>
                    <div class="point"></div>
                    <div class="point"></div>
                </a>
            </header>
            <div
                id="wrapper-messages-container"
                class="wrapper-messages-container"
            >
                <section id="wrapper-messages" class="wrapper-messages">
                    {{{Message}}}
                </section>
            </div>
            <footer>
                <form>
                    <button class="button-attach">&#128206;</button>
                    <input type="text" placeholder="Сообщение" name="message" />
                    <button class="sending-button">&#10230;</button>
                </form>
            </footer>
        </section>
    {{else}}
        <section class="empty-list">
            <article class="empty-text">Выберите чат чтобы отправить сообщение</article>
        </section>
    {{/if}}
</main>
