<div id="{{modalId}}" class="modal-window">
    <div id="{{modalId}}-background" class="background"></div>
    <form id="{{formId}}" class="modal-form" action="">
        <h1>{{title}}</h1>
        {{#if inputs}}
            <ul>
                {{{inputs}}}
            </ul>
        {{else}}
            <div id="loadFileWrapper" class="load-file-wrapper">
                <div id="dropZone" class="drop-zone">+</div>
            </div>
        {{/if}}
        {{{button}}}
    </form>
</div>
